* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.main-card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(18rem, 21rem, 26rem);
    /* min-width: 26rem; */
    max-height: 48rem;
    margin: 1.5re 1.5rem 1.5rem 0;
    margin: 0;
    padding: 1rem;
}

.profile-picture {
    border-radius: 50%;
    width: 6rem;
    margin: 1rem
}

.full-name {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 0.6rem;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
    font-weight: 400;
}

.description {
    font-size: 14px;
    margin: 1.8rem 0 1.2rem;
}

.buttons {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    width: clamp(11rem, 17rem, 23rem);
    /* min-width: 21rem; */
    min-height: 3rem;
    margin: 0.5rem 1.5rem;
}

.buttons:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 0%);
    cursor: pointer;
}


/* .attribution { font-size: 11px; text-align: center; margin-top: 10px; }
.attribution a { color: hsl(228, 45%, 44%); } */
