* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-card {
    background-color: hsl(0, 0%, 12%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 45rem;
}

.profile-picture {
    border-radius: 50%;
    width: 7rem;
    margin: 2rem
}

.full-name {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 1rem;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 1rem;
    font-weight: 600;
}

.description {
    font-size: 14px;
    margin: 2rem;
}

.buttons {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    width: 20rem;
    height: 3.3rem;
    margin: 0.4rem;
}

.buttons:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 0%);
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
